<header id="header">
    <div class="topmenu">
        <section id="home-button"><a href="/">Home</a></section>
        <section id="intro-button"><a href="/about">More About Me</a></section>
        <section class="icon"><a id="javascript:void(0);" herf="#" onclick="clickFuction()">&#9776;</a></section>				
    </div>
    <div class="self-intro">
        <section class="avatar">
            <a href="#" class="image avatar"><img src="/images/avatar.jpg" alt=""/></a>
        </section>
        <section class="intro-text">
            <h1>I am <strong><a href="/">Arksha</a></strong> , a developer in Seattle. Specific in Web Development. </br>
                Also have experience in Computer Graphics and Game Development.
            </h1>
        </section>
    </div>
</header>